<!DOCTYPE html>
<html>
<head>
    <!-- Include the core AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Include the AngularJS routing library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <title>Weather App</title>
	<meta charset="utf-8" />
</head>
<body>
    <div ng-app="WeatherApp" ng-controller="WeatherController">
        <input ng-model="city.name" />
        <a href="#/city"><input type="submit" ng-click="ForecastByCityName(city.name)" /></a>
        <span>{{weatherForecast.data.city.name}}</span>

        <div ng-view></div>
    </div>


    


    <!-- Modules -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/WeatherController.js"></script>
    <!-- Services -->
    <script src="js/services/weather.js"></script>

</body>
</html>
